/**
* Icons
**/
@font-face {
  font-family: 'filebin';
  src: url("../fonts/filebin.eot");
  src: url("../fonts/filebin.eot?#iefix") format("embedded-opentype"), url("../fonts/filebin.woff") format("woff"), url("../fonts/filebin.ttf") format("truetype"), url("../fonts/filebin.svg#filebin") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 17, ../sass/styles-common.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'filebin';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 38, ../sass/styles-common.scss */
.icon-tools:before {
  content: '\54';
}

/* 'T' */
/* line 39, ../sass/styles-common.scss */
.icon-cog:before {
  content: '\72';
}

/* 'r' */
/* line 40, ../sass/styles-common.scss */
.icon-cog-alt:before {
  content: '\52';
}

/* 'R' */
/* line 41, ../sass/styles-common.scss */
.icon-pencil:before {
  content: '\45';
}

/* 'E' */
/* line 42, ../sass/styles-common.scss */
.icon-trash:before {
  content: '\44';
}

/* 'D' */
/* line 43, ../sass/styles-common.scss */
.icon-docs:before {
  content: '\63';
}

/* 'c' */
/* line 44, ../sass/styles-common.scss */
.icon-copy:before {
  content: '\43';
}

/* 'C' */
/* line 45, ../sass/styles-common.scss */
.icon-logout:before {
  content: '\70';
}

/* 'p' */
/* line 46, ../sass/styles-common.scss */
.icon-loader:before {
  content: '\4c';
}

/* 'L' */
/* line 47, ../sass/styles-common.scss */
.icon-picture:before {
  content: '\50';
}

/* 'P' */
/* line 48, ../sass/styles-common.scss */
.icon-upload:before {
  content: '\55';
}

/* 'U' */
/* line 49, ../sass/styles-common.scss */
.icon-link:before {
  content: '\41';
}

/* 'A' */
@font-face {
  font-family: 'filebin2';
  src: url("../fonts/filebin2.eot");
  src: url("../fonts/filebin2.eot?#iefix") format("embedded-opentype"), url("../fonts/filebin2.woff") format("woff"), url("../fonts/filebin2.ttf") format("truetype"), url("../fonts/filebin2.svg#filebin2") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 62, ../sass/styles-common.scss */
[class^="icon2-"]:before,
[class*=" icon2-"]:before {
  font-family: 'filebin2';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 83, ../sass/styles-common.scss */
.icon2-cloud:before {
  content: '\4e';
}

/* 'N' */
/* line 84, ../sass/styles-common.scss */
.icon2-attention:before {
  content: '\41';
}

/* 'A' */
/* line 85, ../sass/styles-common.scss */
.icon2-doc-text:before {
  content: '\4c';
}

/* 'L' */
/* line 86, ../sass/styles-common.scss */
.icon2-clipboard:before {
  content: '\43';
}

/* 'C' */
/* line 87, ../sass/styles-common.scss */
.icon2-cancel:before {
  content: '\58';
}

/* 'X' */
/* line 88, ../sass/styles-common.scss */
.icon2-check:before {
  content: '\56';
}

/* 'V' */
/* line 89, ../sass/styles-common.scss */
.icon2-qrcode:before {
  content: '\51';
}

/* 'Q' */
/* line 90, ../sass/styles-common.scss */
.icon-info:before {
  content: '\49';
}

/* 'I' */
/**
* Others
**/
/* line 95, ../sass/styles-common.scss */
iframe {
  border: 0;
}

/* line 99, ../sass/styles-common.scss */
.cache {
  display: none;
}

/* line 103, ../sass/styles-common.scss */
.clear {
  clear: both;
}

/* line 107, ../sass/styles-common.scss */
.span12 {
  padding-right: 20px;
}

/* line 111, ../sass/styles-common.scss */
.span4 .btn {
  margin-bottom: 5px;
  width: 188px;
}

/* line 116, ../sass/styles-common.scss */
.center {
  text-align: center;
}

/* line 121, ../sass/styles-common.scss */
table td {
  line-height: 29px;
}
/* line 124, ../sass/styles-common.scss */
table .error td {
  background-color: #FDDFDE !important;
  border-color: #FBC7C6;
  color: #B94A48;
}

/*
* Notif
*/
/* line 134, ../sass/styles-common.scss */
#notifs {
  z-index: 20000;
  font-family: helvetica, verdana, arial, sans-serif;
  width: 400px;
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
}
/* line 142, ../sass/styles-common.scss */
#notifs .notif {
  position: relative;
  border: 1px solid #A6A6A6;
  text-shadow: 0px 1px 0px white;
}
/* line 146, ../sass/styles-common.scss */
#notifs .notif .close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  margin-top: 4px;
}
/* line 157, ../sass/styles-common.scss */
#notifs .notif .left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 30px;
  padding: 0 10px;
  border-right: 1px solid #DDDDDD;
  background-color: #F5F5F5;
  -webkit-box-shadow: white -1px 0px 0px inset;
  -moz-box-shadow: white -1px 0px 0px inset;
  box-shadow: white -1px 0px 0px inset;
}
/* line 166, ../sass/styles-common.scss */
#notifs .notif .left .icon {
  font-family: 'filebin2';
  font-size: 30px;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
}
/* line 174, ../sass/styles-common.scss */
#notifs .notif .left .img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: auto 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) -1px 0px 16px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) -1px 0px 16px inset;
  box-shadow: rgba(0, 0, 0, 0.2) -1px 0px 16px inset;
}
/* line 184, ../sass/styles-common.scss */
#notifs .notif .msg {
  padding: 20px;
  margin-left: 50px;
}
/* line 187, ../sass/styles-common.scss */
#notifs .notif .msg p {
  margin: 0;
}
/* line 191, ../sass/styles-common.scss */
#notifs .notif.error {
  color: #B94A48;
}
/* line 194, ../sass/styles-common.scss */
#notifs .notif.error .left .icon:before {
  content: '\41';
}
/* line 201, ../sass/styles-common.scss */
#notifs .notif.info .left .icon:before {
  content: '\49';
}
/* line 206, ../sass/styles-common.scss */
#notifs .notif.success {
  color: #468847;
}
/* line 209, ../sass/styles-common.scss */
#notifs .notif.success .left .icon:before {
  content: '\56';
}

/*
* Login
*/
/* line 221, ../sass/styles-common.scss */
#login form {
  margin: 0;
}

/*
* form
*/
/* line 229, ../sass/styles-common.scss */
form {
  margin-bottom: 0px;
}
/* line 231, ../sass/styles-common.scss */
form .fullsize {
  margin-left: 0;
  clear: both;
}

/* line 236, ../sass/styles-common.scss */
.required {
  color: #B94A48;
}

/* line 239, ../sass/styles-common.scss */
ul.ui-autocomplete.search {
  display: none !important;
}

/**
* modal
**/
/* line 246, ../sass/styles-common.scss */
.modal.static {
  position: static;
  margin: auto;
  top: 0;
  left: 0;
  margin-top: 10px;
}

/*
   Animation example, for spinners
*/
/* line 258, ../sass/styles-common.scss */
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}

@-moz-keyframes spin {
  /* line 266, ../sass/styles-common.scss */
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 273, ../sass/styles-common.scss */
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  /* line 281, ../sass/styles-common.scss */
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 288, ../sass/styles-common.scss */
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  /* line 296, ../sass/styles-common.scss */
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 303, ../sass/styles-common.scss */
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  /* line 311, ../sass/styles-common.scss */
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 318, ../sass/styles-common.scss */
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  /* line 326, ../sass/styles-common.scss */
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 333, ../sass/styles-common.scss */
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/*
Animate.css - http://daneden.me/animate
LICENSED UNDER THE  MIT LICENSE (MIT)

Copyright (c) 2012 Dan Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/* line 354, ../sass/styles-common.scss */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

/* line 367, ../sass/styles-common.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes flash {
  /* line 376, ../sass/styles-common.scss */
  0%, 50%, 100% {
    opacity: 1;
  }

  /* line 377, ../sass/styles-common.scss */
  25%, 75% {
    opacity: 0;
  }
}

@-moz-keyframes flash {
  /* line 381, ../sass/styles-common.scss */
  0%, 50%, 100% {
    opacity: 1;
  }

  /* line 382, ../sass/styles-common.scss */
  25%, 75% {
    opacity: 0;
  }
}

@-o-keyframes flash {
  /* line 386, ../sass/styles-common.scss */
  0%, 50%, 100% {
    opacity: 1;
  }

  /* line 387, ../sass/styles-common.scss */
  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  /* line 391, ../sass/styles-common.scss */
  0%, 50%, 100% {
    opacity: 1;
  }

  /* line 392, ../sass/styles-common.scss */
  25%, 75% {
    opacity: 0;
  }
}

/* line 395, ../sass/styles-common.scss */
.flash {
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash;
}

@-webkit-keyframes shake {
  /* line 402, ../sass/styles-common.scss */
  0%, 100% {
    -webkit-transform: translateX(0);
  }

  /* line 403, ../sass/styles-common.scss */
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
  }

  /* line 404, ../sass/styles-common.scss */
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  /* line 408, ../sass/styles-common.scss */
  0%, 100% {
    -moz-transform: translateX(0);
  }

  /* line 409, ../sass/styles-common.scss */
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px);
  }

  /* line 410, ../sass/styles-common.scss */
  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px);
  }
}

@-o-keyframes shake {
  /* line 414, ../sass/styles-common.scss */
  0%, 100% {
    -o-transform: translateX(0);
  }

  /* line 415, ../sass/styles-common.scss */
  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px);
  }

  /* line 416, ../sass/styles-common.scss */
  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px);
  }
}

@keyframes shake {
  /* line 420, ../sass/styles-common.scss */
  0%, 100% {
    transform: translateX(0);
  }

  /* line 421, ../sass/styles-common.scss */
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  /* line 422, ../sass/styles-common.scss */
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/* line 425, ../sass/styles-common.scss */
.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes bounce {
  /* line 432, ../sass/styles-common.scss */
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }

  /* line 433, ../sass/styles-common.scss */
  40% {
    -webkit-transform: translateY(-30px);
  }

  /* line 434, ../sass/styles-common.scss */
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  /* line 438, ../sass/styles-common.scss */
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }

  /* line 439, ../sass/styles-common.scss */
  40% {
    -moz-transform: translateY(-30px);
  }

  /* line 440, ../sass/styles-common.scss */
  60% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes bounce {
  /* line 444, ../sass/styles-common.scss */
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }

  /* line 445, ../sass/styles-common.scss */
  40% {
    -o-transform: translateY(-30px);
  }

  /* line 446, ../sass/styles-common.scss */
  60% {
    -o-transform: translateY(-15px);
  }
}

@keyframes bounce {
  /* line 449, ../sass/styles-common.scss */
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  /* line 450, ../sass/styles-common.scss */
  40% {
    transform: translateY(-30px);
  }

  /* line 451, ../sass/styles-common.scss */
  60% {
    transform: translateY(-15px);
  }
}

/* line 454, ../sass/styles-common.scss */
.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes tada {
  /* line 461, ../sass/styles-common.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 462, ../sass/styles-common.scss */
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }

  /* line 463, ../sass/styles-common.scss */
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }

  /* line 464, ../sass/styles-common.scss */
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }

  /* line 465, ../sass/styles-common.scss */
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}

@-moz-keyframes tada {
  /* line 469, ../sass/styles-common.scss */
  0% {
    -moz-transform: scale(1);
  }

  /* line 470, ../sass/styles-common.scss */
  10%, 20% {
    -moz-transform: scale(0.9) rotate(-3deg);
  }

  /* line 471, ../sass/styles-common.scss */
  30%, 50%, 70%, 90% {
    -moz-transform: scale(1.1) rotate(3deg);
  }

  /* line 472, ../sass/styles-common.scss */
  40%, 60%, 80% {
    -moz-transform: scale(1.1) rotate(-3deg);
  }

  /* line 473, ../sass/styles-common.scss */
  100% {
    -moz-transform: scale(1) rotate(0);
  }
}

@-o-keyframes tada {
  /* line 477, ../sass/styles-common.scss */
  0% {
    -o-transform: scale(1);
  }

  /* line 478, ../sass/styles-common.scss */
  10%, 20% {
    -o-transform: scale(0.9) rotate(-3deg);
  }

  /* line 479, ../sass/styles-common.scss */
  30%, 50%, 70%, 90% {
    -o-transform: scale(1.1) rotate(3deg);
  }

  /* line 480, ../sass/styles-common.scss */
  40%, 60%, 80% {
    -o-transform: scale(1.1) rotate(-3deg);
  }

  /* line 481, ../sass/styles-common.scss */
  100% {
    -o-transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  /* line 485, ../sass/styles-common.scss */
  0% {
    transform: scale(1);
  }

  /* line 486, ../sass/styles-common.scss */
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 487, ../sass/styles-common.scss */
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 488, ../sass/styles-common.scss */
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 489, ../sass/styles-common.scss */
  100% {
    transform: scale(1) rotate(0);
  }
}

/* line 492, ../sass/styles-common.scss */
.tada {
  -webkit-animation-name: tada;
  -moz-animation-name: tada;
  -o-animation-name: tada;
  animation-name: tada;
}

@-webkit-keyframes swing {
  /* line 499, ../sass/styles-common.scss */
  20%, 40%, 60%, 80%, 100% {
    -webkit-transform-origin: top center;
  }

  /* line 500, ../sass/styles-common.scss */
  20% {
    -webkit-transform: rotate(15deg);
  }

  /* line 501, ../sass/styles-common.scss */
  40% {
    -webkit-transform: rotate(-10deg);
  }

  /* line 502, ../sass/styles-common.scss */
  60% {
    -webkit-transform: rotate(5deg);
  }

  /* line 503, ../sass/styles-common.scss */
  80% {
    -webkit-transform: rotate(-5deg);
  }

  /* line 504, ../sass/styles-common.scss */
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes swing {
  /* line 508, ../sass/styles-common.scss */
  20% {
    -moz-transform: rotate(15deg);
  }

  /* line 509, ../sass/styles-common.scss */
  40% {
    -moz-transform: rotate(-10deg);
  }

  /* line 510, ../sass/styles-common.scss */
  60% {
    -moz-transform: rotate(5deg);
  }

  /* line 511, ../sass/styles-common.scss */
  80% {
    -moz-transform: rotate(-5deg);
  }

  /* line 512, ../sass/styles-common.scss */
  100% {
    -moz-transform: rotate(0deg);
  }
}

@-o-keyframes swing {
  /* line 516, ../sass/styles-common.scss */
  20% {
    -o-transform: rotate(15deg);
  }

  /* line 517, ../sass/styles-common.scss */
  40% {
    -o-transform: rotate(-10deg);
  }

  /* line 518, ../sass/styles-common.scss */
  60% {
    -o-transform: rotate(5deg);
  }

  /* line 519, ../sass/styles-common.scss */
  80% {
    -o-transform: rotate(-5deg);
  }

  /* line 520, ../sass/styles-common.scss */
  100% {
    -o-transform: rotate(0deg);
  }
}

@keyframes swing {
  /* line 524, ../sass/styles-common.scss */
  20% {
    transform: rotate(15deg);
  }

  /* line 525, ../sass/styles-common.scss */
  40% {
    transform: rotate(-10deg);
  }

  /* line 526, ../sass/styles-common.scss */
  60% {
    transform: rotate(5deg);
  }

  /* line 527, ../sass/styles-common.scss */
  80% {
    transform: rotate(-5deg);
  }

  /* line 528, ../sass/styles-common.scss */
  100% {
    transform: rotate(0deg);
  }
}

/* line 531, ../sass/styles-common.scss */
.swing {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  -moz-animation-name: swing;
  -o-animation-name: swing;
  animation-name: swing;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes wobble {
  /* line 544, ../sass/styles-common.scss */
  0% {
    -webkit-transform: translateX(0%);
  }

  /* line 545, ../sass/styles-common.scss */
  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
  }

  /* line 546, ../sass/styles-common.scss */
  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
  }

  /* line 547, ../sass/styles-common.scss */
  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
  }

  /* line 548, ../sass/styles-common.scss */
  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
  }

  /* line 549, ../sass/styles-common.scss */
  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
  }

  /* line 550, ../sass/styles-common.scss */
  100% {
    -webkit-transform: translateX(0%);
  }
}

@-moz-keyframes wobble {
  /* line 554, ../sass/styles-common.scss */
  0% {
    -moz-transform: translateX(0%);
  }

  /* line 555, ../sass/styles-common.scss */
  15% {
    -moz-transform: translateX(-25%) rotate(-5deg);
  }

  /* line 556, ../sass/styles-common.scss */
  30% {
    -moz-transform: translateX(20%) rotate(3deg);
  }

  /* line 557, ../sass/styles-common.scss */
  45% {
    -moz-transform: translateX(-15%) rotate(-3deg);
  }

  /* line 558, ../sass/styles-common.scss */
  60% {
    -moz-transform: translateX(10%) rotate(2deg);
  }

  /* line 559, ../sass/styles-common.scss */
  75% {
    -moz-transform: translateX(-5%) rotate(-1deg);
  }

  /* line 560, ../sass/styles-common.scss */
  100% {
    -moz-transform: translateX(0%);
  }
}

@-o-keyframes wobble {
  /* line 564, ../sass/styles-common.scss */
  0% {
    -o-transform: translateX(0%);
  }

  /* line 565, ../sass/styles-common.scss */
  15% {
    -o-transform: translateX(-25%) rotate(-5deg);
  }

  /* line 566, ../sass/styles-common.scss */
  30% {
    -o-transform: translateX(20%) rotate(3deg);
  }

  /* line 567, ../sass/styles-common.scss */
  45% {
    -o-transform: translateX(-15%) rotate(-3deg);
  }

  /* line 568, ../sass/styles-common.scss */
  60% {
    -o-transform: translateX(10%) rotate(2deg);
  }

  /* line 569, ../sass/styles-common.scss */
  75% {
    -o-transform: translateX(-5%) rotate(-1deg);
  }

  /* line 570, ../sass/styles-common.scss */
  100% {
    -o-transform: translateX(0%);
  }
}

@keyframes wobble {
  /* line 574, ../sass/styles-common.scss */
  0% {
    transform: translateX(0%);
  }

  /* line 575, ../sass/styles-common.scss */
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }

  /* line 576, ../sass/styles-common.scss */
  30% {
    transform: translateX(20%) rotate(3deg);
  }

  /* line 577, ../sass/styles-common.scss */
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }

  /* line 578, ../sass/styles-common.scss */
  60% {
    transform: translateX(10%) rotate(2deg);
  }

  /* line 579, ../sass/styles-common.scss */
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }

  /* line 580, ../sass/styles-common.scss */
  100% {
    transform: translateX(0%);
  }
}

/* line 583, ../sass/styles-common.scss */
.wobble {
  -webkit-animation-name: wobble;
  -moz-animation-name: wobble;
  -o-animation-name: wobble;
  animation-name: wobble;
}

@-webkit-keyframes wiggle {
  /* line 590, ../sass/styles-common.scss */
  0% {
    -webkit-transform: skewX(9deg);
  }

  /* line 591, ../sass/styles-common.scss */
  10% {
    -webkit-transform: skewX(-8deg);
  }

  /* line 592, ../sass/styles-common.scss */
  20% {
    -webkit-transform: skewX(7deg);
  }

  /* line 593, ../sass/styles-common.scss */
  30% {
    -webkit-transform: skewX(-6deg);
  }

  /* line 594, ../sass/styles-common.scss */
  40% {
    -webkit-transform: skewX(5deg);
  }

  /* line 595, ../sass/styles-common.scss */
  50% {
    -webkit-transform: skewX(-4deg);
  }

  /* line 596, ../sass/styles-common.scss */
  60% {
    -webkit-transform: skewX(3deg);
  }

  /* line 597, ../sass/styles-common.scss */
  70% {
    -webkit-transform: skewX(-2deg);
  }

  /* line 598, ../sass/styles-common.scss */
  80% {
    -webkit-transform: skewX(1deg);
  }

  /* line 599, ../sass/styles-common.scss */
  90% {
    -webkit-transform: skewX(0deg);
  }

  /* line 600, ../sass/styles-common.scss */
  100% {
    -webkit-transform: skewX(0deg);
  }
}

@-moz-keyframes wiggle {
  /* line 604, ../sass/styles-common.scss */
  0% {
    -moz-transform: skewX(9deg);
  }

  /* line 605, ../sass/styles-common.scss */
  10% {
    -moz-transform: skewX(-8deg);
  }

  /* line 606, ../sass/styles-common.scss */
  20% {
    -moz-transform: skewX(7deg);
  }

  /* line 607, ../sass/styles-common.scss */
  30% {
    -moz-transform: skewX(-6deg);
  }

  /* line 608, ../sass/styles-common.scss */
  40% {
    -moz-transform: skewX(5deg);
  }

  /* line 609, ../sass/styles-common.scss */
  50% {
    -moz-transform: skewX(-4deg);
  }

  /* line 610, ../sass/styles-common.scss */
  60% {
    -moz-transform: skewX(3deg);
  }

  /* line 611, ../sass/styles-common.scss */
  70% {
    -moz-transform: skewX(-2deg);
  }

  /* line 612, ../sass/styles-common.scss */
  80% {
    -moz-transform: skewX(1deg);
  }

  /* line 613, ../sass/styles-common.scss */
  90% {
    -moz-transform: skewX(0deg);
  }

  /* line 614, ../sass/styles-common.scss */
  100% {
    -moz-transform: skewX(0deg);
  }
}

@-o-keyframes wiggle {
  /* line 618, ../sass/styles-common.scss */
  0% {
    -o-transform: skewX(9deg);
  }

  /* line 619, ../sass/styles-common.scss */
  10% {
    -o-transform: skewX(-8deg);
  }

  /* line 620, ../sass/styles-common.scss */
  20% {
    -o-transform: skewX(7deg);
  }

  /* line 621, ../sass/styles-common.scss */
  30% {
    -o-transform: skewX(-6deg);
  }

  /* line 622, ../sass/styles-common.scss */
  40% {
    -o-transform: skewX(5deg);
  }

  /* line 623, ../sass/styles-common.scss */
  50% {
    -o-transform: skewX(-4deg);
  }

  /* line 624, ../sass/styles-common.scss */
  60% {
    -o-transform: skewX(3deg);
  }

  /* line 625, ../sass/styles-common.scss */
  70% {
    -o-transform: skewX(-2deg);
  }

  /* line 626, ../sass/styles-common.scss */
  80% {
    -o-transform: skewX(1deg);
  }

  /* line 627, ../sass/styles-common.scss */
  90% {
    -o-transform: skewX(0deg);
  }

  /* line 628, ../sass/styles-common.scss */
  100% {
    -o-transform: skewX(0deg);
  }
}

@keyframes wiggle {
  /* line 632, ../sass/styles-common.scss */
  0% {
    transform: skewX(9deg);
  }

  /* line 633, ../sass/styles-common.scss */
  10% {
    transform: skewX(-8deg);
  }

  /* line 634, ../sass/styles-common.scss */
  20% {
    transform: skewX(7deg);
  }

  /* line 635, ../sass/styles-common.scss */
  30% {
    transform: skewX(-6deg);
  }

  /* line 636, ../sass/styles-common.scss */
  40% {
    transform: skewX(5deg);
  }

  /* line 637, ../sass/styles-common.scss */
  50% {
    transform: skewX(-4deg);
  }

  /* line 638, ../sass/styles-common.scss */
  60% {
    transform: skewX(3deg);
  }

  /* line 639, ../sass/styles-common.scss */
  70% {
    transform: skewX(-2deg);
  }

  /* line 640, ../sass/styles-common.scss */
  80% {
    transform: skewX(1deg);
  }

  /* line 641, ../sass/styles-common.scss */
  90% {
    transform: skewX(0deg);
  }

  /* line 642, ../sass/styles-common.scss */
  100% {
    transform: skewX(0deg);
  }
}

/* line 645, ../sass/styles-common.scss */
.wiggle {
  -webkit-animation-name: wiggle;
  -moz-animation-name: wiggle;
  -o-animation-name: wiggle;
  animation-name: wiggle;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  /* line 659, ../sass/styles-common.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 660, ../sass/styles-common.scss */
  50% {
    -webkit-transform: scale(1.1);
  }

  /* line 661, ../sass/styles-common.scss */
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  /* line 664, ../sass/styles-common.scss */
  0% {
    -moz-transform: scale(1);
  }

  /* line 665, ../sass/styles-common.scss */
  50% {
    -moz-transform: scale(1.1);
  }

  /* line 666, ../sass/styles-common.scss */
  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes pulse {
  /* line 669, ../sass/styles-common.scss */
  0% {
    -o-transform: scale(1);
  }

  /* line 670, ../sass/styles-common.scss */
  50% {
    -o-transform: scale(1.1);
  }

  /* line 671, ../sass/styles-common.scss */
  100% {
    -o-transform: scale(1);
  }
}

@keyframes pulse {
  /* line 674, ../sass/styles-common.scss */
  0% {
    transform: scale(1);
  }

  /* line 675, ../sass/styles-common.scss */
  50% {
    transform: scale(1.1);
  }

  /* line 676, ../sass/styles-common.scss */
  100% {
    transform: scale(1);
  }
}

/* line 679, ../sass/styles-common.scss */
.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes flip {
  /* line 686, ../sass/styles-common.scss */
  0% {
    -webkit-transform: perspective(400px) rotateY(0);
    -webkit-animation-timing-function: ease-out;
  }

  /* line 690, ../sass/styles-common.scss */
  40% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
    -webkit-animation-timing-function: ease-out;
  }

  /* line 694, ../sass/styles-common.scss */
  50% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
  }

  /* line 698, ../sass/styles-common.scss */
  80% {
    -webkit-transform: perspective(400px) rotateY(360deg) scale(0.95);
    -webkit-animation-timing-function: ease-in;
  }

  /* line 702, ../sass/styles-common.scss */
  100% {
    -webkit-transform: perspective(400px) scale(1);
    -webkit-animation-timing-function: ease-in;
  }
}

@-moz-keyframes flip {
  /* line 708, ../sass/styles-common.scss */
  0% {
    -moz-transform: perspective(400px) rotateY(0);
    -moz-animation-timing-function: ease-out;
  }

  /* line 712, ../sass/styles-common.scss */
  40% {
    -moz-transform: perspective(400px) translateZ(150px) rotateY(170deg);
    -moz-animation-timing-function: ease-out;
  }

  /* line 716, ../sass/styles-common.scss */
  50% {
    -moz-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -moz-animation-timing-function: ease-in;
  }

  /* line 720, ../sass/styles-common.scss */
  80% {
    -moz-transform: perspective(400px) rotateY(360deg) scale(0.95);
    -moz-animation-timing-function: ease-in;
  }

  /* line 724, ../sass/styles-common.scss */
  100% {
    -moz-transform: perspective(400px) scale(1);
    -moz-animation-timing-function: ease-in;
  }
}

@-o-keyframes flip {
  /* line 730, ../sass/styles-common.scss */
  0% {
    -o-transform: perspective(400px) rotateY(0);
    -o-animation-timing-function: ease-out;
  }

  /* line 734, ../sass/styles-common.scss */
  40% {
    -o-transform: perspective(400px) translateZ(150px) rotateY(170deg);
    -o-animation-timing-function: ease-out;
  }

  /* line 738, ../sass/styles-common.scss */
  50% {
    -o-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -o-animation-timing-function: ease-in;
  }

  /* line 742, ../sass/styles-common.scss */
  80% {
    -o-transform: perspective(400px) rotateY(360deg) scale(0.95);
    -o-animation-timing-function: ease-in;
  }

  /* line 746, ../sass/styles-common.scss */
  100% {
    -o-transform: perspective(400px) scale(1);
    -o-animation-timing-function: ease-in;
  }
}

@keyframes flip {
  /* line 752, ../sass/styles-common.scss */
  0% {
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out;
  }

  /* line 756, ../sass/styles-common.scss */
  40% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out;
  }

  /* line 760, ../sass/styles-common.scss */
  50% {
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }

  /* line 764, ../sass/styles-common.scss */
  80% {
    transform: perspective(400px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
  }

  /* line 768, ../sass/styles-common.scss */
  100% {
    transform: perspective(400px) scale(1);
    animation-timing-function: ease-in;
  }
}

/* line 774, ../sass/styles-common.scss */
.flip {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flip;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flip;
  -o-backface-visibility: visible !important;
  -o-animation-name: flip;
  backface-visibility: visible !important;
  animation-name: flip;
}

@-webkit-keyframes flipInX {
  /* line 789, ../sass/styles-common.scss */
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 794, ../sass/styles-common.scss */
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 798, ../sass/styles-common.scss */
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
  }

  /* line 802, ../sass/styles-common.scss */
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-moz-keyframes flipInX {
  /* line 808, ../sass/styles-common.scss */
  0% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 813, ../sass/styles-common.scss */
  40% {
    -moz-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 817, ../sass/styles-common.scss */
  70% {
    -moz-transform: perspective(400px) rotateX(10deg);
  }

  /* line 821, ../sass/styles-common.scss */
  100% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-o-keyframes flipInX {
  /* line 827, ../sass/styles-common.scss */
  0% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 832, ../sass/styles-common.scss */
  40% {
    -o-transform: perspective(400px) rotateX(-10deg);
  }

  /* line 836, ../sass/styles-common.scss */
  70% {
    -o-transform: perspective(400px) rotateX(10deg);
  }

  /* line 840, ../sass/styles-common.scss */
  100% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  /* line 846, ../sass/styles-common.scss */
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  /* line 851, ../sass/styles-common.scss */
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }

  /* line 855, ../sass/styles-common.scss */
  70% {
    transform: perspective(400px) rotateX(10deg);
  }

  /* line 859, ../sass/styles-common.scss */
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

/* line 865, ../sass/styles-common.scss */
.flipInX {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInX;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInX;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@-webkit-keyframes flipOutX {
  /* line 876, ../sass/styles-common.scss */
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 880, ../sass/styles-common.scss */
  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-moz-keyframes flipOutX {
  /* line 887, ../sass/styles-common.scss */
  0% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 891, ../sass/styles-common.scss */
  100% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-o-keyframes flipOutX {
  /* line 898, ../sass/styles-common.scss */
  0% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 902, ../sass/styles-common.scss */
  100% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@keyframes flipOutX {
  /* line 909, ../sass/styles-common.scss */
  0% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  /* line 913, ../sass/styles-common.scss */
  100% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

/* line 919, ../sass/styles-common.scss */
.flipOutX {
  -webkit-animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  -moz-animation-name: flipOutX;
  -moz-backface-visibility: visible !important;
  -o-animation-name: flipOutX;
  -o-backface-visibility: visible !important;
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

@-webkit-keyframes flipInY {
  /* line 930, ../sass/styles-common.scss */
  0% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  /* line 935, ../sass/styles-common.scss */
  40% {
    -webkit-transform: perspective(400px) rotateY(-10deg);
  }

  /* line 939, ../sass/styles-common.scss */
  70% {
    -webkit-transform: perspective(400px) rotateY(10deg);
  }

  /* line 943, ../sass/styles-common.scss */
  100% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

@-moz-keyframes flipInY {
  /* line 949, ../sass/styles-common.scss */
  0% {
    -moz-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  /* line 954, ../sass/styles-common.scss */
  40% {
    -moz-transform: perspective(400px) rotateY(-10deg);
  }

  /* line 958, ../sass/styles-common.scss */
  70% {
    -moz-transform: perspective(400px) rotateY(10deg);
  }

  /* line 962, ../sass/styles-common.scss */
  100% {
    -moz-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

@-o-keyframes flipInY {
  /* line 968, ../sass/styles-common.scss */
  0% {
    -o-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  /* line 973, ../sass/styles-common.scss */
  40% {
    -o-transform: perspective(400px) rotateY(-10deg);
  }

  /* line 977, ../sass/styles-common.scss */
  70% {
    -o-transform: perspective(400px) rotateY(10deg);
  }

  /* line 981, ../sass/styles-common.scss */
  100% {
    -o-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes flipInY {
  /* line 987, ../sass/styles-common.scss */
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }

  /* line 992, ../sass/styles-common.scss */
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }

  /* line 996, ../sass/styles-common.scss */
  70% {
    transform: perspective(400px) rotateY(10deg);
  }

  /* line 1000, ../sass/styles-common.scss */
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

/* line 1006, ../sass/styles-common.scss */
.flipInY {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipInY;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipInY;
  backface-visibility: visible !important;
  animation-name: flipInY;
}

@-webkit-keyframes flipOutY {
  /* line 1017, ../sass/styles-common.scss */
  0% {
    -webkit-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 1021, ../sass/styles-common.scss */
  100% {
    -webkit-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

@-moz-keyframes flipOutY {
  /* line 1027, ../sass/styles-common.scss */
  0% {
    -moz-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 1031, ../sass/styles-common.scss */
  100% {
    -moz-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

@-o-keyframes flipOutY {
  /* line 1037, ../sass/styles-common.scss */
  0% {
    -o-transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 1041, ../sass/styles-common.scss */
  100% {
    -o-transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

@keyframes flipOutY {
  /* line 1047, ../sass/styles-common.scss */
  0% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }

  /* line 1051, ../sass/styles-common.scss */
  100% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

/* line 1057, ../sass/styles-common.scss */
.flipOutY {
  -webkit-backface-visibility: visible !important;
  -webkit-animation-name: flipOutY;
  -moz-backface-visibility: visible !important;
  -moz-animation-name: flipOutY;
  -o-backface-visibility: visible !important;
  -o-animation-name: flipOutY;
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

@-webkit-keyframes fadeIn {
  /* line 1068, ../sass/styles-common.scss */
  0% {
    opacity: 0;
  }

  /* line 1069, ../sass/styles-common.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 1073, ../sass/styles-common.scss */
  0% {
    opacity: 0;
  }

  /* line 1074, ../sass/styles-common.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  /* line 1078, ../sass/styles-common.scss */
  0% {
    opacity: 0;
  }

  /* line 1079, ../sass/styles-common.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 1083, ../sass/styles-common.scss */
  0% {
    opacity: 0;
  }

  /* line 1084, ../sass/styles-common.scss */
  100% {
    opacity: 1;
  }
}

/* line 1087, ../sass/styles-common.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  /* line 1094, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  /* line 1099, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  /* line 1106, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  /* line 1111, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  /* line 1118, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  /* line 1123, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  /* line 1130, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  /* line 1135, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 1141, ../sass/styles-common.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  /* line 1148, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 1153, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 1160, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 1165, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 1172, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 1177, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 1184, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 1189, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 1195, ../sass/styles-common.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
  /* line 1202, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  /* line 1207, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInLeft {
  /* line 1214, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }

  /* line 1219, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInLeft {
  /* line 1226, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }

  /* line 1231, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  /* line 1238, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  /* line 1243, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* line 1249, ../sass/styles-common.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  /* line 1256, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }

  /* line 1261, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInRight {
  /* line 1268, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }

  /* line 1273, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInRight {
  /* line 1280, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }

  /* line 1285, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  /* line 1292, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  /* line 1297, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* line 1303, ../sass/styles-common.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInUpBig {
  /* line 1310, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }

  /* line 1315, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUpBig {
  /* line 1322, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }

  /* line 1327, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUpBig {
  /* line 1334, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }

  /* line 1339, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUpBig {
  /* line 1346, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  /* line 1351, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 1357, ../sass/styles-common.scss */
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  -moz-animation-name: fadeInUpBig;
  -o-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeInDownBig {
  /* line 1364, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  /* line 1369, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDownBig {
  /* line 1376, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  /* line 1381, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDownBig {
  /* line 1388, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  /* line 1393, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDownBig {
  /* line 1400, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  /* line 1405, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 1411, ../sass/styles-common.scss */
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  -moz-animation-name: fadeInDownBig;
  -o-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeInLeftBig {
  /* line 1418, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }

  /* line 1423, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInLeftBig {
  /* line 1429, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }

  /* line 1434, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInLeftBig {
  /* line 1440, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }

  /* line 1445, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInLeftBig {
  /* line 1451, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  /* line 1456, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* line 1462, ../sass/styles-common.scss */
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  -moz-animation-name: fadeInLeftBig;
  -o-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRightBig {
  /* line 1469, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }

  /* line 1474, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInRightBig {
  /* line 1481, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }

  /* line 1486, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInRightBig {
  /* line 1493, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }

  /* line 1498, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInRightBig {
  /* line 1505, ../sass/styles-common.scss */
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  /* line 1510, ../sass/styles-common.scss */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* line 1516, ../sass/styles-common.scss */
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  -moz-animation-name: fadeInRightBig;
  -o-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeOut {
  /* line 1523, ../sass/styles-common.scss */
  0% {
    opacity: 1;
  }

  /* line 1524, ../sass/styles-common.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  /* line 1528, ../sass/styles-common.scss */
  0% {
    opacity: 1;
  }

  /* line 1529, ../sass/styles-common.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  /* line 1533, ../sass/styles-common.scss */
  0% {
    opacity: 1;
  }

  /* line 1534, ../sass/styles-common.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  /* line 1538, ../sass/styles-common.scss */
  0% {
    opacity: 1;
  }

  /* line 1539, ../sass/styles-common.scss */
  100% {
    opacity: 0;
  }
}

/* line 1542, ../sass/styles-common.scss */
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOutUp {
  /* line 1549, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 1554, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}

@-moz-keyframes fadeOutUp {
  /* line 1560, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 1565, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
}

@-o-keyframes fadeOutUp {
  /* line 1571, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  /* line 1576, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
}

@keyframes fadeOutUp {
  /* line 1582, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 1587, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* line 1593, ../sass/styles-common.scss */
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  -moz-animation-name: fadeOutUp;
  -o-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeOutDown {
  /* line 1600, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 1605, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
}

@-moz-keyframes fadeOutDown {
  /* line 1612, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 1617, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
}

@-o-keyframes fadeOutDown {
  /* line 1624, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  /* line 1629, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
}

@keyframes fadeOutDown {
  /* line 1636, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 1641, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* line 1647, ../sass/styles-common.scss */
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  -moz-animation-name: fadeOutDown;
  -o-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutLeft {
  /* line 1654, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  /* line 1659, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@-moz-keyframes fadeOutLeft {
  /* line 1666, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  /* line 1671, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
}

@-o-keyframes fadeOutLeft {
  /* line 1678, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }

  /* line 1683, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
}

@keyframes fadeOutLeft {
  /* line 1690, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  /* line 1695, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

/* line 1701, ../sass/styles-common.scss */
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  -moz-animation-name: fadeOutLeft;
  -o-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutRight {
  /* line 1708, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  /* line 1713, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}

@-moz-keyframes fadeOutRight {
  /* line 1720, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  /* line 1725, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
}

@-o-keyframes fadeOutRight {
  /* line 1732, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }

  /* line 1737, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
}

@keyframes fadeOutRight {
  /* line 1744, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  /* line 1749, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

/* line 1755, ../sass/styles-common.scss */
.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  -moz-animation-name: fadeOutRight;
  -o-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutUpBig {
  /* line 1762, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 1767, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}

@-moz-keyframes fadeOutUpBig {
  /* line 1774, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 1779, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
}

@-o-keyframes fadeOutUpBig {
  /* line 1786, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  /* line 1791, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
}

@keyframes fadeOutUpBig {
  /* line 1798, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 1803, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

/* line 1809, ../sass/styles-common.scss */
.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  -moz-animation-name: fadeOutUpBig;
  -o-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}

@-webkit-keyframes fadeOutDownBig {
  /* line 1816, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 1821, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
}

@-moz-keyframes fadeOutDownBig {
  /* line 1828, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 1833, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
}

@-o-keyframes fadeOutDownBig {
  /* line 1840, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  /* line 1845, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }
}

@keyframes fadeOutDownBig {
  /* line 1852, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 1857, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}

/* line 1863, ../sass/styles-common.scss */
.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  -moz-animation-name: fadeOutDownBig;
  -o-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig;
}

@-webkit-keyframes fadeOutLeftBig {
  /* line 1870, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  /* line 1875, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}

@-moz-keyframes fadeOutLeftBig {
  /* line 1882, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  /* line 1887, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
}

@-o-keyframes fadeOutLeftBig {
  /* line 1894, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }

  /* line 1899, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }
}

@keyframes fadeOutLeftBig {
  /* line 1906, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  /* line 1911, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

/* line 1917, ../sass/styles-common.scss */
.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  -moz-animation-name: fadeOutLeftBig;
  -o-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig;
}

@-webkit-keyframes fadeOutRightBig {
  /* line 1924, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  /* line 1929, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
}

@-moz-keyframes fadeOutRightBig {
  /* line 1935, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  /* line 1940, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
}

@-o-keyframes fadeOutRightBig {
  /* line 1946, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }

  /* line 1951, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }
}

@keyframes fadeOutRightBig {
  /* line 1957, ../sass/styles-common.scss */
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  /* line 1962, ../sass/styles-common.scss */
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}

/* line 1968, ../sass/styles-common.scss */
.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  -moz-animation-name: fadeOutRightBig;
  -o-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
}
