<div class="modal static link">
	<div class="modal-header">
		<h1>A propos</h1>
	</div>
	<div class="modal-body">
		<p>
			Ce site propose d'heberger facilement des fichiers ... tagazou !!!
		</p>
	</div>
</div>